@import "./reset.css";

body{
  min-width: 1100px;
  background: #f5f5f5;
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.site-wrapper{
  width: 982px;
  margin: 0 auto;
}

.f-thide{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.f-thide-3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}